@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <h1 class="display-4">  Welcome to the biggest Company Ever</h1>
    <img src="~/Img/CIU.png" />
</div>
<section>
    <h1>CIU</h1>
    <p>Founded in 1990, CIU started it's own production in a small room back in Nepal and with the increase in time we upgraded our quality to meet the consumer's need and are able to open our branch all over the Golbe including in CANADA, USA and many more contries.
    Starting from a closed room to owning 25 branches all over the world, We couldnot have been here without our hardworking staffs who are working Day and nights to provide you with quality service.</p><br />
    <h2>Product Description</h2><br />
    <p>
    We focus on quality and environment friendly soaps and detergents, which gives you a good protection from germs and give you a sweet freagnance 24 hours long. We make bathing soaps, hand wash, laundary soaps and all,
        We always have special deals going on and Don't forget to be a member and get exclusive deals. <strong><a class="nav-link text-dark" asp-area="" asp-controller="Soaps" asp-action="Index">ClICK HERE TO CHECK OUR DEALS</a></strong>'
    </p><br />
    <h2 style="background-color:antiquewhite;
margin: 2px;
padding: 5px;
width: 500px;"> Offer and Promotions</h2><br />
    <p>Currently we are offering lottery tickets with the purchase of some of our products, these tickets have great surprises. DO NOT THROW THE TICKETS. </p>

    <h2>Our Board Of directors</h2>
    <ul>
        <li>Darshan Khanal<br />
        <p>"Our one and Only motive is to make you guys Clean" - Darshan</p></li>
        <li>Diya Khanal<br />
        <p>"Customer Service is what we think the most"- Diya</p></li>
    </ul>
    <h2>Our Headquators</h2>
    <ul>
        <li><h3>Canada</h3><br />
        <p>N8H 2H5, WINDSOR, ON, Canada</p></li>
    <li><h3>Nepal</h3><br />
        <p>Ratanagar-09, Chitwan, Nepal</p></li>
    </ul>
</section>

