@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CLEAN IT UP<strong>(CIU)</strong></h1>
    <h3>Why fear when CIU is here?</h3>
    <div class="imgA">
        <img src="~/Img/download.png" />
    </div>
</div>
<section class="imgB">
    <a class="nav-link text-dark" asp-area="" asp-controller="Soaps" asp-action="Index"><img src="~/Img/soap.png" /></a> 
</section>
